.et_pb_row_0 {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0.84) 100%), url(../images/fotos-terra-10.jpg);
    min-height: 400px
}

.et_pb_row_0.et_pb_row {
    margin-bottom: 0px !important
}

.et_pb_row_0,
body #page-container .et-db #et-boc .et-l .et_pb_row_0.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_0.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_0.et_pb_row {
    width: 100%;
    max-width: 1600px
}

.et_pb_text_0.et_pb_text {
    color: #000000 !important
}

.et_pb_text_0 p {
    line-height: 0.6em
}

.et_pb_text_1 p {
    line-height: 0.6em
}

.et_pb_text_0 {
    font-family: 'Caveat', handwriting;
    font-style: italic;
    font-size: 65px;
    letter-spacing: 1px;
    line-height: 0.6em;
    margin-top: 16% !important;
    margin-bottom: 1% !important
}

.et_pb_text_0 h1 {
    font-family: 'Caveat', handwriting;
    font-size: 60px;
    color: rgba(43, 43, 43, 0.9) !important;
    text-align: center;
    text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4)
}

.et_pb_text_1 h1 {
    font-family: 'Caveat', handwriting;
    font-size: 60px;
    color: rgba(43, 43, 43, 0.9) !important;
    text-align: center;
    text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4)
}

.et_pb_text_1.et_pb_text {
    color: #d1eaa3 !important
}

.et_pb_text_1 {
    font-family: 'Caveat', handwriting;
    font-style: italic;
    font-size: 65px;
    letter-spacing: 1px;
    line-height: 0.6em;
    margin-top: -1.8% !important;
    margin-bottom: 1% !important
}

.et_pb_text_1 h2 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    color: #ffffff !important;
    text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4)
}

.et_pb_row_1.et_pb_row {
    margin-top: 3% !important;
    margin-bottom: 3% !important
}

.et_pb_text_4 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: left
}

.et_pb_text_6 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: left
}

.et_pb_text_40 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: left
}

.et_pb_text_16 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: left
}

.et_pb_text_2 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: left
}

.et_pb_image_6 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_18 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_17 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_19 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_16 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_15 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_14 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_13 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_12 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_10 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_9 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_8 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_7 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_11 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_1 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_5 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_3 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_0 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_4 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_image_2 {
    max-width: 80%;
    text-align: left;
    margin-left: 0
}

.et_pb_text_7 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_35 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_27 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_31 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_25 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_9 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_37 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_33 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_21 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_39 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_3 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_19 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_11 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_17 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_41 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_15 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_13 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_29 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
}

.et_pb_text_5 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    padding-right: 0px !important;
    margin-right: -37px !important
}

.et_pb_row_6.et_pb_row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    padding-top: 0px;
    padding-bottom: 0px
}

.et_pb_row_2.et_pb_row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    padding-top: 0px;
    padding-bottom: 0px
}

.et_pb_row_3.et_pb_row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    padding-top: 0px;
    padding-bottom: 0px
}

.et_pb_row_4.et_pb_row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    padding-top: 0px;
    padding-bottom: 0px
}

.et_pb_row_5.et_pb_row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    padding-top: 0px;
    padding-bottom: 0px
}

.et_pb_text_36 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_14 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_38 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_34 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_32 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_10 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_30 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_12 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_18 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_20 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_22 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_24 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_26 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_28 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_8 h2 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    text-align: center
}

.et_pb_text_23 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    margin-bottom: -12px !important
}

.et_pb_row_7.et_pb_row {
    padding-top: 27px !important;
    padding-bottom: 0px !important;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    padding-top: 27px;
    padding-bottom: 0px
}

.et_pb_section_2 {
    border-top-width: 2px;
    border-top-color: #d8d8d8;
    width: 100%;
    max-width: 100%
}

.et_pb_section_3 {
    border-top-width: 2px;
    border-top-color: #d8d8d8;
    width: 100%;
    max-width: 100%
}

.et_pb_row_8 {
    background-color: #ffffff
}

.et_pb_row_8,
body #page-container .et-db #et-boc .et-l .et_pb_row_8.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_8.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_8.et_pb_row {
    width: 100%;
    max-width: 100%
}

.et_pb_text_44.et_pb_text {
    color: #ffffff !important
}

.et_pb_text_44 h1 {
    color: #ffffff !important
}

.et_pb_text_42.et_pb_text {
    color: #ffffff !important
}

.et_pb_text_42 h1 {
    color: #ffffff !important
}

.et_pb_text_44 {
    font-size: 14px;
    margin-bottom: 1% !important
}

.et_pb_text_42 {
    font-size: 14px;
    margin-bottom: 1% !important
}

.et_pb_text_42 h6 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    color: #aaaaaa !important
}

.et_pb_text_44 h6 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    color: #aaaaaa !important
}

.et_pb_text_43.et_pb_text {
    color: #aaaaaa !important
}

.et_pb_text_43 h6 {
    color: #aaaaaa !important
}

.et_pb_text_43 p {
    line-height: 0.9em
}

.et_pb_text_43 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    line-height: 0.9em
}

.et_pb_image_20 {
    width: 30%;
    text-align: center
}

.et_pb_social_media_follow .et_pb_social_media_follow_network_0.et_pb_social_icon .icon:before {
    color: #aaaaaa
}

.et_pb_social_media_follow .et_pb_social_media_follow_network_1.et_pb_social_icon .icon:before {
    color: #aaaaaa
}

.et_pb_social_media_follow_0 li.et_pb_social_icon a.icon:before {
    color: #ffffff
}

.et_pb_social_media_follow_0 li a.icon:before {
    font-size: 32px;
    line-height: 64px;
    height: 64px;
    width: 64px
}

.et_pb_social_media_follow_0 li a.icon {
    height: 64px;
    width: 64px
}

@media only screen and (max-width:980px) {
    .et_pb_image_0 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_1 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_19 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_18 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_17 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_16 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_15 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_14 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_13 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_12 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_11 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_10 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_9 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_8 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_7 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_6 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_5 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_4 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_3 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_2 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_20 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_section_2 {
        border-top-width: 2px;
        border-top-color: #d8d8d8
    }

    .et_pb_section_3 {
        border-top-width: 2px;
        border-top-color: #d8d8d8
    }
}

@media only screen and (max-width:767px) {
    .et_pb_text_0 p {
        line-height: 1em
    }

    .et_pb_text_1 p {
        line-height: 1em
    }

    .et_pb_image_9 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_19 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_18 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_17 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_16 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_15 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_14 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_13 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_12 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_11 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_10 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_20 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_3 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_8 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_7 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_6 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_0 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_1 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_5 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_4 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_2 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_row_7.et_pb_row {
        margin-top: 0% !important;
        margin-bottom: 0% !important
    }

    .et_pb_row_4.et_pb_row {
        margin-top: 0% !important;
        margin-bottom: 0% !important
    }

    .et_pb_row_2.et_pb_row {
        margin-top: 0% !important;
        margin-bottom: 0% !important
    }

    .et_pb_row_6.et_pb_row {
        margin-top: 0% !important;
        margin-bottom: 0% !important
    }

    .et_pb_row_3.et_pb_row {
        margin-top: 0% !important;
        margin-bottom: 0% !important
    }

    .et_pb_row_5.et_pb_row {
        margin-top: 0% !important;
        margin-bottom: 0% !important
    }

    .et_pb_text_20 {
        margin-top: 20px !important
    }

    .et_pb_text_32 {
        margin-top: 20px !important
    }

    .et_pb_section_2 {
        border-top-width: 2px;
        border-top-color: #d8d8d8
    }

    .et_pb_section_3 {
        border-top-width: 2px;
        border-top-color: #d8d8d8
    }
}