
      .et_pb_row_0 {
        background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.19) 0%,
            rgba(255, 255, 255, 0.84) 100%
          ),
          url(../images/woman-cream-face-in-bathrobe-with-beauty-healthy-s-YEFHNPW-scaled.jpg);
        min-height: 400px;
      }
      .et_pb_row_0.et_pb_row {
        margin-bottom: 0px !important;
      }
      .et_pb_row_0,
      body #page-container .et-db #et-boc .et-l .et_pb_row_0.et_pb_row,
      body.et_pb_pagebuilder_layout.single
        #page-container
        #et-boc
        .et-l
        .et_pb_row_0.et_pb_row,
      body.et_pb_pagebuilder_layout.single.et_full_width_page
        #page-container
        #et-boc
        .et-l
        .et_pb_row_0.et_pb_row {
        width: 100%;
        max-width: 1600px;
      }
      .et_pb_text_0.et_pb_text {
        color: #000000 !important;
      }
      .et_pb_text_1.et_pb_text {
        color: #000000 !important;
      }
      .et_pb_text_1 p {
        line-height: 0.6em;
      }
      .et_pb_text_0 p {
        line-height: 0.6em;
      }
      .et_pb_text_0 {
        font-family: "Caveat", handwriting;
        font-style: italic;
        font-size: 65px;
        letter-spacing: 1px;
        line-height: 0.6em;
        margin-top: 16% !important;
        margin-bottom: 1% !important;
      }
      .et_pb_text_1 h1 {
        font-family: "Caveat", handwriting;
        font-size: 60px;
        color: rgba(43, 43, 43, 0.9) !important;
        text-align: center;
        text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
      }
      .et_pb_text_0 h1 {
        font-family: "Caveat", handwriting;
        font-size: 60px;
        color: rgba(43, 43, 43, 0.9) !important;
        text-align: center;
        text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
      }
      .et_pb_text_1 {
        font-family: "Caveat", handwriting;
        font-style: italic;
        font-size: 65px;
        letter-spacing: 1px;
        line-height: 0.6em;
        margin-top: -1.8% !important;
        margin-bottom: 1% !important;
      }
      .et_pb_text_1 h2 {
        font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
        color: #ffffff !important;
        text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
      }
      .et_pb_section_1.et_pb_section {
        padding-top: 22px;
        padding-bottom: 27px;
      }
      .et_pb_slide_4 {
        background-color: #ffffff;
      }
      .et_pb_slide_7 {
        background-color: #ffffff;
      }
      .et_pb_slide_9 {
        background-color: #ffffff;
      }
      .et_pb_slide_2 {
        background-color: #ffffff;
      }
      .et_pb_slide_13 {
        background-color: #ffffff;
      }
      .et_pb_slide_15 {
        background-color: #ffffff;
      }
      .et_pb_slide_11 {
        background-color: #ffffff;
      }
      .et_pb_slide_1 {
        background-color: #ffffff;
      }
      .et_pb_slide_5 {
        background-color: #ffffff;
      }
      .et_pb_slide_6 {
        background-color: #ffffff;
      }
      .et_pb_slide_12 {
        background-color: #ffffff;
      }
      .et_pb_slide_0 {
        background-color: #ffffff;
      }
      .et_pb_slide_14 {
        background-color: #ffffff;
      }
      .et_pb_slide_8 {
        background-color: #ffffff;
      }
      .et_pb_slide_10 {
        background-color: #ffffff;
      }
      .et_pb_slide_3 {
        background-color: #ffffff;
      }
      .et_pb_slider_0.et_pb_slider {
        overflow-x: hidden;
        overflow-y: hidden;
      }
      .et_pb_section_3 {
        border-top-width: 2px;
        border-top-color: #d8d8d8;
        width: 100%;
        max-width: 100%;
      }
      .et_pb_section_2 {
        border-top-width: 2px;
        border-top-color: #d8d8d8;
        width: 100%;
        max-width: 100%;
      }
      .et_pb_row_2 {
        background-color: #ffffff;
      }
      .et_pb_row_2,
      body #page-container .et-db #et-boc .et-l .et_pb_row_2.et_pb_row,
      body.et_pb_pagebuilder_layout.single
        #page-container
        #et-boc
        .et-l
        .et_pb_row_2.et_pb_row,
      body.et_pb_pagebuilder_layout.single.et_full_width_page
        #page-container
        #et-boc
        .et-l
        .et_pb_row_2.et_pb_row {
        width: 100%;
        max-width: 100%;
      }
      .et_pb_text_2 h1 {
        color: #ffffff !important;
      }
      .et_pb_text_2.et_pb_text {
        color: #ffffff !important;
      }
      .et_pb_text_4 h1 {
        color: #ffffff !important;
      }
      .et_pb_text_4.et_pb_text {
        color: #ffffff !important;
      }
      .et_pb_text_4 {
        font-size: 14px;
        margin-bottom: 1% !important;
      }
      .et_pb_text_2 {
        font-size: 14px;
        margin-bottom: 1% !important;
      }
      .et_pb_text_2 h6 {
        font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 16px;
        color: #aaaaaa !important;
      }
      .et_pb_text_4 h6 {
        font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 16px;
        color: #aaaaaa !important;
      }
      .et_pb_text_3 h6 {
        color: #aaaaaa !important;
      }
      .et_pb_text_3.et_pb_text {
        color: #aaaaaa !important;
      }
      .et_pb_text_3 p {
        line-height: 0.9em;
      }
      .et_pb_text_3 {
        font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
        font-size: 18px;
        line-height: 0.9em;
      }
      .et_pb_image_0 {
        width: 30%;
        text-align: center;
      }
      .et_pb_social_media_follow
        .et_pb_social_media_follow_network_0.et_pb_social_icon
        .icon:before {
        color: #aaaaaa;
      }
      .et_pb_social_media_follow
        .et_pb_social_media_follow_network_1.et_pb_social_icon
        .icon:before {
        color: #aaaaaa;
      }
      .et_pb_social_media_follow_0 li.et_pb_social_icon a.icon:before {
        color: #ffffff;
      }
      .et_pb_social_media_follow_0 li a.icon:before {
        font-size: 32px;
        line-height: 64px;
        height: 64px;
        width: 64px;
      }
      .et_pb_social_media_follow_0 li a.icon {
        height: 64px;
        width: 64px;
      }
      .et_pb_slide_7 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_5 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_8 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_4 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_13 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_10 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_3 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_6 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_12 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_2 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_15 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_1 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_11 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_9 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_0 p {
        line-height: 1.7em !important;
      }
      .et_pb_slide_14 p {
        line-height: 1.7em !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_6.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_5.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_9.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_4.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_2.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_1.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_0.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_3.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_7.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_8.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_12.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_15.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_10.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_14.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_11.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }
      .et_pb_slider.et_pb_module
        .et_pb_slide_13.et_pb_slide
        .et_pb_slide_description
        .et_pb_slide_content {
        line-height: 1.7em !important;
        text-align: center !important;
      }

      /* Poco Performante*/

      .et_pb_slider .et_pb_slide_10 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_0 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_11 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_1 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_8 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_15 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_2 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_12 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_6 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_3 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_13 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_4 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_14 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_5 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_7 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }
      .et_pb_slider .et_pb_slide_9 {
        background-image: url(../images/fotos-terra-10.jpg);
        background-color: #ffffff;
      }

      /* Poco Performante*/

      @media only screen and (max-width: 980px) {
        .et_pb_section_2 {
          border-top-width: 2px;
          border-top-color: #d8d8d8;
        }
        .et_pb_section_3 {
          border-top-width: 2px;
          border-top-color: #d8d8d8;
        }
        .et_pb_image_0 {
          margin-left: auto;
          margin-right: auto;
        }
      }
      @media only screen and (max-width: 767px) {
        .et_pb_text_0 p {
          line-height: 1em;
        }
        .et_pb_text_1 p {
          line-height: 1em;
        }
        .et_pb_section_2 {
          border-top-width: 2px;
          border-top-color: #d8d8d8;
        }
        .et_pb_section_3 {
          border-top-width: 2px;
          border-top-color: #d8d8d8;
        }
        .et_pb_image_0 {
          margin-left: auto;
          margin-right: auto;
        }
      }