.et_pb_text_0 h1 {
    color: rgba(119, 119, 119, 0.62) !important
}

.et_pb_text_4 h1 {
    color: rgba(119, 119, 119, 0.62) !important
}

.et_pb_text_6 h1 {
    color: rgba(119, 119, 119, 0.62) !important
}

.et_pb_text_2 h1 {
    color: rgba(119, 119, 119, 0.62) !important
}

.et_pb_text_6 h3 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    color: rgba(119, 119, 119, 0.62) !important
}

.et_pb_text_0 h3 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    color: rgba(119, 119, 119, 0.62) !important
}

.et_pb_text_4 h3 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    color: rgba(119, 119, 119, 0.62) !important
}

.et_pb_text_2 h3 {
    font-family: 'Caveat', handwriting;
    font-size: 30px;
    color: rgba(119, 119, 119, 0.62) !important
}

.et_pb_text_3 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300
}

.et_pb_text_5 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300
}

.et_pb_text_1 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300
}

.et_pb_text_7 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300
}

.et_pb_divider_1 {
    margin-bottom: 10px !important
}

.et_pb_divider_2 {
    margin-bottom: 10px !important
}

.et_pb_divider_0 {
    margin-bottom: 10px !important
}

.et_pb_divider_3 {
    margin-bottom: 10px !important
}

.et_pb_divider_1:before {
    border-top-color: #ffffff
}

.et_pb_divider_0:before {
    border-top-color: #ffffff
}

.et_pb_divider_2:before {
    border-top-color: #ffffff
}

.et_pb_divider_3:before {
    border-top-color: #ffffff
}

.et_pb_image_0 {
    text-align: center
}

.et_pb_section_2 {
    border-top-width: 2px;
    border-top-color: #d8d8d8;
    width: 100%;
    max-width: 100%
}

.et_pb_section_1 {
    border-top-width: 2px;
    border-top-color: #d8d8d8;
    width: 100%;
    max-width: 100%
}

.et_pb_row_1 {
    background-color: #ffffff
}

.et_pb_row_1,
body #page-container .et-db #et-boc .et-l .et_pb_row_1.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_1.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_1.et_pb_row {
    width: 100%;
    max-width: 100%
}

.et_pb_text_8.et_pb_text {
    color: #ffffff !important
}

.et_pb_text_8 h1 {
    color: #ffffff !important
}

.et_pb_text_10 h1 {
    color: #ffffff !important
}

.et_pb_text_10.et_pb_text {
    color: #ffffff !important
}

.et_pb_text_10 {
    font-size: 14px;
    margin-bottom: 1% !important
}

.et_pb_text_8 {
    font-size: 14px;
    margin-bottom: 1% !important
}

.et_pb_text_8 h6 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    color: #aaaaaa !important
}

.et_pb_text_10 h6 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    color: #aaaaaa !important
}

.et_pb_text_9 h6 {
    color: #aaaaaa !important
}

.et_pb_text_9.et_pb_text {
    color: #aaaaaa !important
}

.et_pb_text_9 p {
    line-height: 0.9em
}

.et_pb_text_9 {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    line-height: 0.9em
}

.et_pb_image_1 {
    width: 30%;
    text-align: center
}

.et_pb_social_media_follow .et_pb_social_media_follow_network_0.et_pb_social_icon .icon:before {
    color: #aaaaaa
}

.et_pb_social_media_follow .et_pb_social_media_follow_network_1.et_pb_social_icon .icon:before {
    color: #aaaaaa
}

.et_pb_social_media_follow_0 li.et_pb_social_icon a.icon:before {
    color: #ffffff
}

.et_pb_social_media_follow_0 li a.icon:before {
    font-size: 32px;
    line-height: 64px;
    height: 64px;
    width: 64px
}

.et_pb_social_media_follow_0 li a.icon {
    height: 64px;
    width: 64px
}

.et_pb_column_1 {
    z-index: 0 !important;
    position: absolute !important;
    top: 50%;
    bottom: auto;
    right: 0px;
    left: auto;
    transform: translateY(-50%)
}

@media only screen and (max-width:980px) {
    .et_pb_image_0 {
        transform: translateX(0px) translateY(0px);
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_section_1 {
        border-top-width: 2px;
        border-top-color: #d8d8d8
    }

    .et_pb_section_2 {
        border-top-width: 2px;
        border-top-color: #d8d8d8
    }

    .et_pb_image_1 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_column_1 {
        position: relative !important;
        top: 0px;
        bottom: auto;
        left: 0px;
        right: auto;
        transform: translateX(0px) translateY(0px)
    }

    body.logged-in.admin-bar .et_pb_column_1 {
        top: 0px
    }
}

@media only screen and (max-width:767px) {
    .et_pb_image_0 {
        transform: translateX(0px) translateY(0px);
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_section_1 {
        border-top-width: 2px;
        border-top-color: #d8d8d8
    }

    .et_pb_section_2 {
        border-top-width: 2px;
        border-top-color: #d8d8d8
    }

    .et_pb_image_1 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_column_1 {
        transform: translateX(0px) translateY(0px)
    }
}