		.et_pb_section_0.et_pb_section {
			padding-bottom: 0px
		}

		.et_pb_section_1.et_pb_section {
			padding-bottom: 0px
		}

		.et_pb_text_0 {
			font-family: 'Caveat', handwriting;
			font-size: 36px;
			margin-top: 16px !important
		}

		.et_pb_text_2 {
			font-family: 'Caveat', handwriting;
			font-size: 36px;
			margin-top: 16px !important
		}

		.et_pb_text_0 h1 {
			font-family: 'Caveat', handwriting;
			font-style: italic;
			font-size: 50px;
			color: rgba(119, 119, 119, 0.62) !important;
			text-align: center
		}

		.et_pb_text_2 h1 {
			font-family: 'Caveat', handwriting;
			font-style: italic;
			font-size: 50px;
			color: rgba(119, 119, 119, 0.62) !important;
			text-align: center
		}

		.et_pb_text_1 {
			font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
			font-weight: 300;
			padding-bottom: 4px !important;
			margin-top: 16px !important
		}

		.et_pb_text_1 h1 {
			font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
		}

		.et_pb_text_3 h1 {
			font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif
		}

		.et_pb_image_1 .et_pb_image_wrap img {
			min-height: 329px
		}

		.et_pb_image_0 .et_pb_image_wrap img {
			min-height: 329px
		}

		.et_pb_image_0 {
			padding-top: 11px;
			padding-bottom: 0px;
			text-align: center
		}

		.et_pb_row_1.et_pb_row {
			padding-bottom: 0px !important;
			margin-right: 8px !important;
			margin-left: 125px !important;
			padding-bottom: 0px
		}

		.et_pb_text_3 {
			font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
			font-weight: 300;
			padding-bottom: 110px !important;
			margin-top: 16px !important
		}

		.et_pb_image_1 {
			padding-top: 220px;
			padding-bottom: 0px;
			text-align: center
		}

		.et_pb_section_3 {
			border-top-width: 2px;
			border-top-color: #d8d8d8;
			width: 100%;
			max-width: 100%
		}

		.et_pb_section_2 {
			border-top-width: 2px;
			border-top-color: #d8d8d8;
			width: 100%;
			max-width: 100%
		}

		.et_pb_row_2 {
			background-color: #ffffff
		}

		.et_pb_row_2,
		body #page-container .et-db #et-boc .et-l .et_pb_row_2.et_pb_row,
		body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_2.et_pb_row,
		body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_2.et_pb_row {
			width: 100%;
			max-width: 100%
		}

		.et_pb_text_6.et_pb_text {
			color: #ffffff !important
		}

		.et_pb_text_4.et_pb_text {
			color: #ffffff !important
		}

		.et_pb_text_4 h1 {
			color: #ffffff !important
		}

		.et_pb_text_6 h1 {
			color: #ffffff !important
		}

		.et_pb_text_4 {
			font-size: 14px;
			margin-bottom: 1% !important
		}

		.et_pb_text_6 {
			font-size: 14px;
			margin-bottom: 1% !important
		}

		.et_pb_text_6 h6 {
			font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 16px;
			color: #aaaaaa !important
		}

		.et_pb_text_4 h6 {
			font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 16px;
			color: #aaaaaa !important
		}

		.et_pb_text_5 h6 {
			color: #aaaaaa !important
		}

		.et_pb_text_5.et_pb_text {
			color: #aaaaaa !important
		}

		.et_pb_text_5 p {
			line-height: 0.9em
		}

		.et_pb_text_5 {
			font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
			font-size: 18px;
			line-height: 0.9em
		}

		.et_pb_image_2 {
			width: 30%;
			text-align: center
		}

		.et_pb_social_media_follow .et_pb_social_media_follow_network_1.et_pb_social_icon .icon:before {
			color: #aaaaaa
		}

		.et_pb_social_media_follow .et_pb_social_media_follow_network_0.et_pb_social_icon .icon:before {
			color: #aaaaaa
		}

		.et_pb_social_media_follow_0 li.et_pb_social_icon a.icon:before {
			color: #ffffff
		}

		.et_pb_social_media_follow_0 li a.icon:before {
			font-size: 32px;
			line-height: 64px;
			height: 64px;
			width: 64px
		}

		.et_pb_social_media_follow_0 li a.icon {
			height: 64px;
			width: 64px
		}

		.et_pb_column_1 {
			padding-bottom: 0px;
			bottom: 0px;
			top: auto;
			right: 0px;
			left: auto
		}

		.et_pb_column_3 {
			padding-bottom: 0px;
			bottom: 0px;
			top: auto;
			right: 0px;
			left: auto
		}

		.et_pb_row_0.et_pb_row {
			padding-bottom: 0px !important;
			margin-right: 8px !important;
			margin-left: 125px !important;
			margin-left: auto !important;
			margin-right: auto !important;
			padding-bottom: 0px
		}

		@media only screen and (min-width:981px) {
			.et_pb_section_0 {
				display: none !important
			}
		}

		@media only screen and (max-width:980px) {
			.et_pb_image_0 {
				margin-left: auto;
				margin-right: auto
			}

			.et_pb_image_1 {
				margin-left: auto;
				margin-right: auto
			}

			.et_pb_image_2 {
				margin-left: auto;
				margin-right: auto
			}

			.et_pb_section_2 {
				border-top-width: 2px;
				border-top-color: #d8d8d8
			}

			.et_pb_section_3 {
				border-top-width: 2px;
				border-top-color: #d8d8d8
			}

			.et_pb_column_1 {
				padding-bottom: 0px;
				bottom: 0px;
				top: auto;
				right: 0px;
				left: auto;
				transform: translateX(0px) translateY(0px)
			}

			.et_pb_column_3 {
				padding-bottom: 0px;
				bottom: 0px;
				top: auto;
				right: 0px;
				left: auto;
				transform: translateX(0px) translateY(0px)
			}

			body.logged-in.admin-bar .et_pb_column_1 {
				top: auto
			}

			body.logged-in.admin-bar .et_pb_column_3 {
				top: auto
			}
		}

		@media only screen and (min-width:768px) and (max-width:980px) {
			.et_pb_section_1 {
				display: none !important
			}
		}

		@media only screen and (max-width:767px) {
			.et_pb_image_0 {
				text-align: right;
				margin-left: auto;
				margin-right: 0
			}

			.et_pb_section_1 {
				display: none !important
			}

			.et_pb_image_1 {
				margin-left: auto;
				margin-right: auto
			}

			.et_pb_image_2 {
				margin-left: auto;
				margin-right: auto
			}

			.et_pb_section_2 {
				border-top-width: 2px;
				border-top-color: #d8d8d8
			}

			.et_pb_section_3 {
				border-top-width: 2px;
				border-top-color: #d8d8d8
			}

			.et_pb_column_1 {
				padding-bottom: 0px;
				bottom: 0px;
				top: auto;
				right: 0px;
				left: auto;
				transform: translateX(0px) translateY(0px)
			}

			.et_pb_column_3 {
				padding-bottom: 0px;
				bottom: 0px;
				top: auto;
				right: 0px;
				left: auto;
				transform: translateX(0px) translateY(0px)
			}

			body.logged-in.admin-bar .et_pb_column_1 {
				top: auto
			}

			body.logged-in.admin-bar .et_pb_column_3 {
				top: auto
			}
		}